<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axum, Postgres, Shuttle Authentication Demo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <header> 
        <h1>{% block title %}{% endblock title %}</h1>
        {% if not home_screen %}
        <a href="/">Back to home screen</a>
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>

</html>
